# Dependências
node_modules/
.next/

# Variáveis de ambiente
.env
.env.local
.env.production

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Build
out/
build/
dist/